<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="贺鑫">
    <META NAME="description" CONTENT="贺鑫的个人博客ＭＡＲＳＧＧＢＯ">
    <META NAME="keywords" CONTENT="Blog,MARSGGBO,Python,程序员">
    <meta name="robots" content="index,follow" /> <!-- 搜索引擎抓取 -->
    <link rel="shortcut icon" type="image/ico" href="../static/imgs/favicon.ico" />
    <link rel="shortcut icon" href="../static/about/assets/ico/favicon.png">

    <!-- Bootstrap core CSS -->
    <link href="../static/about/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/about/assets/css/main.css" rel="stylesheet">
    
	<link rel="stylesheet" href="../static/about/assets/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="../static/about/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/about/assets/js/smoothscroll.js"></script> 
    <script src="../static/about/assets/js/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../static/about/assets/js/html5shiv.js"></script>
      <script src="../static/about/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
							<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><i class="icon-user"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><i class="icon-file"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><i class="icon-briefcase"></i></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><i class="icon-envelope"></i></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-12">
					<h1>MARSGGBO</h1>
					<h3>Huster  | marsggbo@foxmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>ABOUT</h5>
				</div>
				<div class="col-lg-6">
					<p>
					<ul>
						<li>热爱互联网行业, 积极主动关注行业新动态.</li>
						<li>喜欢学习, 先后自学了前端语言(html&css),Python和shell等知识.</li>
						<li>工作态度认真,具有团队合作精神, 积极参加社团活动, 能与他人很好相处.</li>
						<li>喜欢分享, 会将自己所学总结下来, 撰成博客, 与他人互相学习, 其中有一篇原创文章百度搜索排名较靠前.</li>
					</ul>
					</p>
				</div>
				<div class="col-lg-3">
					<button class="icon-thumbs-up"></button>
					<!-- <p><a href="#"><i class="icon-file"></i></a> <sm>DOWNLOAD PDF</sm></p> -->
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>EDUCATION</h5>
				</div>
				<div class="col-lg-6">
					<p><t>华中科技大学(HUST)</t><br/>
						通信工程 <br/>
						<i>4 Years Course</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p>GRADUATe IN 2018<br/>
					<imp><b>IN PROGRESS</b></imp>
					</p>
				</div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>Campus experience</h5>
				</div>

				<div class="col-lg-6">
					<p><t> 创点团队</t><br/>
						 团队成员<br/>
					</p>
					<p><more> 这是一个校内的学生创业团队, 主要负责参与项目的前期准备 工作, 如产品定位以及页面设计等工作。</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2014.09 - 2015.09 </sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>华中科技大学大学生新闻中心 </t><br/>
						醉晚亭 部门部长   <br/>
					</p>
					<p><more>主导部门日常运营和负责“华科任意门(导航网站)”, “醉晚 (webAPP)”等项目开发和运营 </more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2015.09 - 2016.09</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t> 互联网＋大赛</t><br/>
						志愿者<br/>
					</p>
					<p><more>主要负责评审一对一接待工作。</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2016.10 - 2016.11 </sm></p>
				</div>

		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->


	<!--AWARDS DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>AWARDS</h5>
				</div>
				<div class="col-lg-6">
					<p><t>校优秀干部</t><br/>
						<br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2016.10</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>英语等级考试</t><br/>
					</p>
					<p><more>英语六级558<br/>英语四级 561<br/></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2014-2015</sm></p>
				</div>

				<div class="col-lg-6 col-lg-offset-3">
					<p><t>计算机等级考试</t><br/>网络工程师
					</p>
					<p><more>计算机三级&计算机四级<br/></more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>2015-2016</sm></p>
				</div>

		
		</div><!--/.row -->
		<br>
	</div><!--/.container -->
	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="python" height="130" width="130"></canvas>
						<p>Python</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("python").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="marskdown" height="130" width="130"></canvas>
						<p>Marskdown</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("marskdown").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 65,
										color:"#1abc9c"
									},
									{
										value : 35,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>HTML/CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

					<div class="col-lg-3 centered">
						<canvas id="Pyqt" height="130" width="130"></canvas>
						<p>Pyqt</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 80,
										color:"#1abc9c"
									},
									{
										value : 20,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("Pyqt").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="flask" height="130" width="130"></canvas>
						<p>Flask</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 60,
										color:"#1abc9c"
									},
									{
										value : 40,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("flask").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>

			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
				<div class="col-lg-6">
					<p><img class="img-responsive" src="../static/about/assets/img/port01.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
					<p>CANALS OF ENGLAND</p>
				<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
					<sm><i class="icon-tag"></i> design</sm></more> 
				</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="../static/about/assets/img/port02.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>SANKEY</p>
					<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
						<sm><i class="icon-tag"></i> front-end</sm></more> 
					</p>
				</div>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="../static/about/assets/img/port03.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>WE GROW</p>
					<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
						<sm><i class="icon-tag"></i> web design</sm></more> 
					</p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						marsggbo@foxmail.com <br/>
					</p>
					<p><t>Adress</t><br/>
						湖北武汉 -
						华中科技大学 -
						韵苑公寓 <br/>
					</p>
					<p><t>友情链接</t><br/>
						<a href="http://blog.163.com/hexin_mars_blog/" target="_Blank">网易博客</a>
						<a href="https://marsggbo.github.io/blog/" target="_Blank">|Hexo博客</a>
						<a href="http://weibo.com/2212976841/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" target="_Blank">|微博</a>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>
					<p>
						<a href="http://weibo.com/2212976841/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1 target="_Blank"><i class="icon-weibo"></i></a>
						<a href="#"><i class="icon-twitter"></i></a>
						<a href="#"><i class="icon-facebook"></i></a>
						<a target="_Blank" href="http://www.linkedin.com/in/%E9%91%AB-%E8%B4%BA-62b494b2?trk=nav_responsive_tab_profile_pic"><i class="icon-linkedin"></i></a>
						<a href="#"><i class="icon-apple"></i></a>

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	
	<div id="c">
		<div class="container">
			<h1 class="text-center" ><b>MARSGGBO</b></h1 >
		
		</div>
	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/about/assets/js/bootstrap.js"></script>
  </body>
</html>
